body{
    background-color: lightgray;
    color:darkred;
}
footer a:hover{
    text-decoration: none;
    color:black;
}
footer ul{
    list-style-type: none;
    
}
footer a{
    color:darkred;
}